Lombardi/list.dat
Lombardi/maps.fits.gz
Lombardi/planck_herschel.fits.gz
Lombardi/ReadMe
Megeath/J_AJ_144_192_table4.dat.fits
Megeath/ReadMe.txt
Megeath/table4.dat.txt
Notes/lecture_notes_minkowski_functionals.pdf
Notes/Filaments-relevant Project/mf_marching_square_tensor.py
Notes/Filaments-relevant Project/Minkowski Functionals and the ISM.pdf
Notes/Filaments-relevant Project/Minkowski_stuff.ipynb
Notes/Filaments-relevant Project/TMF_stuff.ipynb
